.containerp{
    position: absolute;
    top:50%;
    right: 0;
    transform: translateY(-60%);
    width: 640px;
    height: 640px;
    pointer-events: none;
}

.profession-box{
    position: absolute;
    top:0%;
    right: 0;
    width: 640px;
    height: 640px;
    border-radius: 50%;
}