@tailwind base;
@tailwind components;
@tailwind utilities;

div.app {
    position: relative;
    top: var(--global-nav-height);
    overflow-y: auto;   
    height: calc(100vh - var(--global-nav-height)) !important;
    overflow-x: hidden;
}
body.sticky-global-toolbar{
    height: 100vh;
}

div.child-height {
    --global-nav-height: 83px;
}

/* Customizing scrollbars for elements with the class 'custom-scrollbar' */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 100%;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(4);
    }
}

.fade-in {
    animation: fadeInFromTop 0.3s ease-in-out forwards;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #348C79;
}

body:is(.dark) .custom-scrollbar::-webkit-scrollbar-thumb,
body:is(.dark) .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #6941C6;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

body:is(.dark) .custom-scrollbar::-webkit-scrollbar-track {
    background: #2C3D4F;
}